#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  text-align: center;
  rotate: 2deg;
  background-color: #FFF;
  padding: 1rem;
}

.lemonadeStand {
  background-image: url('./assets/lemonadeStand.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px; 
  width: 750px;
  gap: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.standContent {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  width: 80%;
  padding: 1.5em;
  background-color: #FFF;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  gap: 20px;               
  margin-bottom: 30px;   
}

.statsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.statsContainer {
  width: 40%;
}

.stat-item {
  margin: 10px 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
}

.read-the-docs {
  color: #888;
}
