#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  text-align: center;
  rotate: 2deg;
  background-color: #FFF;
  padding: 1rem;
}

.lemonadeStand {
  background-image: url('./assets/lemonadeStand.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px; 
  width: 750px;
  gap: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.standContent {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  width: 80%;
  padding: 2em;
  background-color: #FFF;
}

.read-the-docs {
  color: #888;
}
